fastapi
uvicorn
python-multipart
pydantic
google-generativeai
langchain
langchain-community
PyMuPDF
python-docx
faiss-cpu
sentence-transformers
numpy
pandas
requests
python-dotenv
PyPDF2
email-reply-parser
markdown
beautifulsoup4
aiofiles
httpx
Pillow
mangum
